a {
    text-decoration: none;
}

.info-dropdown{
    display: flex;
    background-color: #353762;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    color: #f9f9f9;
    height: 60px;
    text-align: center;
    font-size: small;
    justify-content: center;
    align-items: center;
}

.info-btn-section{
    flex-grow: 1;
    
}

.info-midsection{
    flex-grow: 100;
}

.info-rightsection{
    width: 300px;
}

.mainsection{
    display: flex;
}


.btn-section{
    flex-grow: 1;
    min-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
button{
    height: 6vw;
    width: 5vw;
    min-width: 40px;
    min-height: 48px;
    border-radius: 5px 0 0 5px;
    border: none;
}
.btn-vendor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-vendor img{
    width: 4vw;
    min-width: 32px;
}

.midsection{
    background-color: rgb(211,32,39);
    flex-grow: 7;
    color: white;
}

.bill-timestamp{
    text-align: center;
}

table{
    margin: auto;
    width: 48vw;
    background: white;
    box-shadow: 2px 2px 5px black;
    font-family: Arial, Helvetica, sans-serif;
    color: #353762;
    font-size: 1.35vw;

}


td{
    text-align: center;
}

td:first-child{
    text-align: left;
}

td:nth-child(4){
    font-weight: bold;
}



.bill-total{
    margin-bottom: 50px;
}

.edeka-bill{
    display: none;
}

.aldi-bill{
    display: none;
}

.ss-dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 10vw;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 12px;
    z-index: 1;
    
}

.ss-dropdown:hover .dropdown-content{
    display: block;
}

.rightsection {
    display: flex;
    flex-direction: column;
    width: 300px;
}


@media  screen and (max-width: 660px) {


    .info-dropdown{
        font-size: 10px;
    }

    .rightsection{
        width: 150px;
    }

    .info-rightsection{
        width: 150px;
    }
}


@media  screen and (max-width: 440px) {
    .midsection{
        font-size: 4px;
    }

    .info-dropdown{
        font-size: 7px;
    }

    .rightsection{
        width: 70px;
    }
    .info-rightsection{
        width: 70px;
    }
}
