.midsection{
    display: flex;
    align-items: center;
    width: 800px;
    margin: auto;
}

p{
    color: rgb(182, 182, 182);
    font-size: small;
}
.ss-info{
    border-radius: 5px;
    padding: 20px;
    color: white;
    background-color: rgb(0, 105, 0);
}

.ss-info h2{
    margin: 0;
    color: white;
    background-color: rgb(0, 105, 0);
}

.item-image{
    width: 400px;
}

@media (max-width: 900px){

    .midsection{
        width: 600px
    }

    .item-image{
        width: 300px;
    }
    
}

@media (max-width: 650px){

    .midsection{
        width: 400px;
        font-size: 12px;

    }

    p{
     font-size: 10px;
    }

    .item-image{
        width: 200px;
    }
    
}

@media (max-width: 450px){

    .midsection{
        flex-direction: column;
        width: 300px;
        font-size: 11px;

    }

    p{
     font-size: 9px;
     margin-top: 3px;
     margin-bottom: 3px;
    }

    .item-image{
        width: 200px;
    }
    
}